[submodule "frontend"]
	path = frontend
	url = https://github.com/ImmortalZeus/eNationalLibrary-Web-Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/ImmortalZeus/eNationalLibrary-Web-Backend.git
